.videoBox {
    width: 100%;
    height: 100%;
    scroll-snap-type: y mandatory; // 이거 지렸다...
    overflow-y: scroll;
}

.videoBox .videoItem {
    scroll-snap-align: start; // 이거랑 같이 써야함
    padding-top: 5vh;
    width: 100%;
    height: 100%;
    background-color: wheat;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $bgColor;
    overflow: hidden;
}

.video-container video {
    position: absolute;
    top: calc(50% - 2.5vh);
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
}

.videoText {
    width: 100%;
    height: 100%;
}

.videoText h1 {
    font-size: 30px;
}
