extends base.pug
include mixins/videoTictok


block content
    section.home
        div.tictok
            each info in videos
                +video(info)

block scripts 
    script(src="/assets/js/home.js")