extends base.pug
include mixins/videoYoutube

block content
    section.search
        form(method="get").searchForm
            input(name="title" placeholder="Search by title", type ="text")
            input(value="Search", type ="submit")
        
        ul.videoBox
            each video in videos
                +video(video) 