extends base.pug


block content 
    if error
        span=error
    form(method="POST")
        input(name= "title", type="text", placeholder = "Title", required, maxlength = 80)
        input(name= "description", type="text", placeholder = "Discription", required, minlength = 20)
        input(name= "hashtags", type="text", placeholder = "Hashtags, separated by comma", required)

        input(type="submit" value="Upload Video") 