extends ../base.pug


block content 
    section.uploadSection.join

        //- div.recorder
        //-     video.preview
        //-     button.startBtn Start Recording

        if error
            span=error

        form(method = "post" enctype="multipart/form-data").joinform
            input(name="video" type="file" id="video" accept = "video/*" required)
            input(name= "title", type="text", placeholder = "Title", required, maxlength = 80)
            input(name= "description", type="text", placeholder = "Discription", required)
            input(name= "hashtags", type="text", placeholder = "Hashtags, separated by comma", required)

            input(type="submit" value="Upload Video").submit


block scripts 
    script(src="/assets/js/recorder.js") 